.textCenter{
    text-align: center;
}

.inputFieldContainer {
    display: flex;
    justify-content: center;
    margin-top: 10dvh;
    background-color: salmon;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.inputFile {
    opacity: 0;
}

.box {
    background-color: aqua;
}

.waveformContainer {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7dvh;
}

.instruments {
    width: 6dvw;
    margin-right: 20dvh;
    color: white;
    font-weight: 500;
    font-size: 75%;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    padding-top: 1dvh;
    padding-bottom: 1dvh;
}

.instrumentsContainer {
    display: flex;
    justify-content: center;
    margin-top: 7dvh;
}

.melodyButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 8dvh;
}

.melodyButton {
    border-radius: 20px 20px 20px 20px;
    padding: 1dvh 1dvh 1dvh 1dvh;
    background-color: rgb(254,65,100);
    color: white;
    height: 7dvh;
    font-weight: 500;
    border: none;
    box-shadow: 10px;
}

.melodyButton:hover {
    background-color: #5e0087;
}